NLGOVDATA_TK_BASE_URL=https://gegevensmagazijn.tweedekamer.nl/OData/v4/2.0
NLGOVDATA_RIJK_BASE_URL=https://opendata.rijksoverheid.nl/v1
NLGOVDATA_KOOP_BASE_URL=https://repository.overheid.nl/sru
NLGOVDATA_TIMEOUT_SECONDS=30.0
NLGOVDATA_MAX_RETRIES=3
NLGOVDATA_REQUEST_INTERVAL_SECONDS=1.0
NLGOVDATA_CACHE_TTL_SECONDS=3600
